<div class="mb-6" hx-target="this" hx-swap="outerHTML" id="password-validation-section">
    <label class="block text-gray-700 text-sm font-bold mb-2" 
        for="password"
    >
        Confirm Password
    </label>

    {% if password_matches %}

    <input 
        class="border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-purple-600"
        id="password-validation-input"    
        name="password_validation"
        type="password"
        placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;"
        hx-post="/registration/password_validation/" 
        hx-trigger="keyup changed delay:500ms, changed" 
        hx-indicator="#spinner-password-validation"
        value="{{password_validation}}"
        x-model="passwordValidationValue" @input="$el.dispatchEvent(new Event('change'))"
        x-on:focus="passwordValidationHasFocus = true"
        x-on:blur="passwordValidationHasFocus = false"
        required
    >
    <div 
        x-init="passwordValidationError = false"
    >    
    </div>
    {% else %}
    
    <input 
        class="border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-purple-600"
        id="password-validation-input"    
        name="password_validation"
        type="password"
        placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;"
        hx-post="/registration/password_validation/" 
        hx-trigger="keyup changed delay:500ms, changed" 
        hx-indicator="#spinner-password-validation"
        value="{{password_validation}}"
        x-model="passwordValidationValue" 
        x-on:input="$el.dispatchEvent(new Event('change'))"
        x-on:focus="passwordValidationHasFocus = true"
        x-on:blur="passwordValidationHasFocus = false"
        required
    >
    <div 
        class='bg-red-200'
        x-init="passwordValidationError = true"
    > 
        Password does not match
    </div>
    
    {% endif %}

</div>
