<div class="mb-4" hx-target="this" hx-swap="outerHTML" id="password-section">
    <label class="block text-gray-700 text-sm font-bold mb-2" 
        for="password"
    >
        Password
    </label>

    {% if password_is_valid %}

    <input 
        class="border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-purple-600"
        id="password-input"
        name="password"
        type="password"
        placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;"
        hx-post="/registration/password/" 
        hx-trigger="keyup changed delay:500ms, changed" 
        hx-indicator="#spinner-password"
        value="{{password}}"
        x-model="passwordValue" 
        x-on:input="$el.dispatchEvent(new Event('change'))"
        x-on:focus="passwordHasFocus = true"
        x-on:blur="passwordHasFocus = false"
        required
    >
    <div 
        x-init="passwordError = false"
    >    
    </div>
    {% else %}

    <input 
        class="border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-purple-600"
        id="password-input"
        name="password"
        type="password"
        placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;"
        hx-post="/registration/password/" 
        hx-trigger="keyup changed delay:500ms, changed" 
        hx-indicator="#spinner-password"
        value="{{password}}"
        x-model="passwordValue" 
        x-on:input="$el.dispatchEvent(new Event('change'))"
        x-on:focus="passwordHasFocus = true"
        x-on:blur="passwordHasFocus = false"
        required
    >
    <div 
        class='bg-red-200'
        x-init="passwordError = true"
    >    
        Password doesn't fulfill requirements
    </div>

    {% endif %}

</div>
