<!-- todo: add non played card here-->


<!--todo: stop ignoring with hx-swap -->
<!-- all events! if four cards or maybe just hx-after -> dispatch event "4cards-played". listen to this on the "last-stack" -->
{% for card in stack.cards -%}
    <!--todo only last one should be have class "disabled" I think?-->
    <div 
        id="card-{{card.id}}"
        class="list-group-item bg-blue-400 text-center"
    >
        {{card.rank}} {{card.suit}}
    </div>
{% endfor %}


<script>

    var stack = document.getElementById('stack-form');
    var sortablestack = Sortable.create(stack, {
        group: {
            name: 'shared',
            put: function (to) {
                true //return to.el.children.length < 4;
            },
            pull: false,
        },
        animation: 150,
        sort: false
    });

</script>

